.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.overlay-sidebar {
  z-index: 905;
}

.overlay-notification {
  z-index: var(--z-notification-overlay);
  background: rgba(0, 0, 0, 0.3);
}

.overlay-modal {
  z-index: var(--z-modal);
}
